.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.flex-grid .col {
  width: 32%;
  height: 280px;
  border: 1px solid #ededed;
  padding-top: 40px;
  position: relative;
  cursor: pointer;
}

@media (max-width: 640px) {
  .flex-grid{
    display: block;
  }
  .flex-grid .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
}