.login-page{
  background-color: #333333;
  height: 100vh;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form{
  padding: 10px;
  background-color: white;
  width: fit-content;
  margin: 0 auto;
}
.login-form p{
  text-align: center;
  margin-bottom: 2em;
}

input[type="email"],input[type="password"]{
  display: block;
  width: 45vw;
  margin-bottom: 15px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #e6e6e6;
  line-height: 2em;
}

@media(min-width: 600px){
  input[type="email"],input[type="password"]{
    width: 30vw
  }
}
@media(min-width: 800px){
  input[type="email"],input[type="password"]{
    width: 24vw
  }
}
@media(min-width: 1000px){
  input[type="email"],input[type="password"]{
    width: 18vw
  }
}

input[type="submit"]{
  display: block;
  padding: 5px 10px;
  background-color: #3F3A5F;
  color: #fff;
  margin: 1.5em auto;
}
