.tag-name{
  position: absolute;
  background: black;
  color: white;
  padding: 5px 15px;
  top: 1rem;
  left: 1rem;
}
.crop-image{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20%;
  height: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.main-content .pack-name{
  color: teal;
  font-weight: 700;
}
.main-content .pack-type-circle{
  border-radius: 50%;
  border: 1px solid teal;
}
.main-content .pack-desc{
  width: 70%;
  text-align: center;
}
.main-content .price-section{
  margin-top: auto;
  margin-bottom: 20px;
}
.main-content .price-section .price{
  margin: 0;
  font-weight: 700;
  text-align: center;
}
.main-content .price-section .metered-price{
  margin: 5px 0;
  font-size: 0.68rem;
  color: grey;
  text-align: center;
}

.test-bg{
  background: linear-gradient(60deg, #fdcd3b 50%, #ffed4b 50%);
}