.title{
  color: #004D40;
  letter-spacing: 0.2rem;
}
.pack-title{
  margin: 0;
  color: teal;
  font-weight: 700;
}
.newbie-note{
  font-size: 0.68rem;
  color: teal;
}
.selected-pack-price{
  margin: 0;
  flex-grow: 1;
  text-align: right;
  font-weight: 700;
}
.selected-metered-text{
  flex-grow: 1;
  text-align: right;
  font-size: 0.68rem;
  color: grey;
}
.divider{
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px -10px;
}
.btn-pay{
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  background-color: #00BCD4;
  color: white;
  border: 0;
  border-radius: 20px;
  outline: none;
}
.promo-code-field{
  display:inline-block;
  padding: 0.6rem;
  outline: none;
  border: 0;
  background-color: #F5F5F5;
}
.promo-code-field .promo-code-input{
  padding: 0;
  outline: none;
  border: 0;
  background-color: #F5F5F5;
  text-transform: uppercase;
}
a{
  text-decoration: none;
  color:teal;
}

dl {
  display: flex;
  flex-flow: row wrap;
  border-width: 1px 1px 0 0;
}
dt {
  flex-basis: 30%;
  padding: 3px 0;
  text-align: left;
  font-size: 0.8rem;
}
dd {
  flex-basis: 60%;
  flex-grow: 1;
  margin: 0;
  text-align: right;
  padding: 3px 0;
}