html, #root{
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header{
  background-color: teal;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.header h2{
  cursor: pointer;
}
.header button{
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 0.8rem;
}
